# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_FISH_LEFT || SHIELD_FISH_RIGHT || SHIELD_FISH_DONGLE
    config ZMK_SPLIT
        default y
    config ZMK_KEYBOARD_NAME
        default "Fish"
endif

if SHIELD_FISH_DONGLE
    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
        default 2

    # Set this to ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS + your desired number of BT profiles (default is 5)
    config BT_MAX_CONN
        default 7

    # Set this to the same number as BT_MAX_CONN
    config BT_MAX_PAIRED
        default 7

endif